<div id="image-detail-form" class="modal" onclick="hideModalForm()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="image-header">{{name}}</h5>
        <button type="button" class="btn-close" onclick="hideModalForm()" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div>
        <img id="product-image" src="{{imageUrl}}" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
