{{#products}}
<div class="product">
    <div>
        <h4>{{name}}</h4>
        <div class="photo">
            <img src="/images/products/{{imageUrl}}" alt=""
                 onclick="showImageDetailForm(`{{name}}`,'/images/products/{{imageUrl}}')"
            >
          <h4 class="price">${{price}}</h4>
        </div>
        <div>
            <p>{{description}}</p>
        </div>

    </div>
    <div class="add-button">
        <button class="btn btn-success" onclick="cartService.addToCart({{productId}})">Add to Cart</button>
    </div>
</div>
{{/products}}
